<!DOCTYPE html>
<html>

<head>
  <title>TODO Enterprise</title>
  <link rel="stylesheet" type="text/css" href="/public/styles/styles.css">
</head>

<body>
  <div class="header">
    <div class="title"><a href="/">TODO Enterprise</a></div>
    
    <div class="menu">
      <div><a href="about">About</a></div>
    </div>
  </div> 
  
  <div style="padding-top: 20px;" class="why">
    <div align="center">В последнее время темп жизни настолько увеличился, что удержать все в
    голове практически невозможно. Помните то гнетущее чувство, когда вы забыли о чем-то важном?
    Забудьте! Перед вами детище, которое создавалось со времен динозавров! Они записывали, что им нужно
    сделать, до того как замёрзнуть. Не будем же отставать от братьев наших меньш... Кхм, кхм. Пользуйтесь короче!
    Перед вами TODO Enterprise.
  </div>
  </div>
  
  <div style="padding-top: 20px;" class="developers">
    <div align="center">Directed by: Defake</div>
    <div align="center">Apprentice: GeneralShtorks</div>
    <div align="center">Apprentice: Kimpo</div>
  </div>
</body>

<script type="text/javascript" src="/public/scripts/scripts.js"></script>

</html>
