<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head', {
    currentPage: currentPage,
  }); %>
</head>

<body class="has-navbar-fixed-top">

  <%- include('partials/header', {
    currentPage: currentPage,
  }); %>

  <section class="section">
    <div class="container is-tablet is-narrow">
      <h1 class="title">Забыли о чем-то?</h1>
      <div>
        В последнее время темп жизни настолько увеличился, что удержать все в
        голове практически невозможно. Помните то гнетущее чувство, когда вы забыли о чем-то важном?
        Забудьте! Перед вами детище, которое создавалось со времен динозавров! Они записывали, что им нужно
        сделать, до того как замёрзнуть. Не будем же отставать от братьев наших меньш... Кхм, кхм. Пользуйтесь короче!
        Перед вами TODO Enterprise.
      </div>

    </div>

    <div class="container is-tablet is-narrow has-mt-4">
      <div>Directed by: Defake</div>
      <div>Apprentice: GeneralShtorks</div>
      <div>Apprentice: Kimpo</div>
    </div>

  </section>

  <%- include('partials/footer'); %>

</body>

</html>
