<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TODO Enterprise</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="/public/styles/experimental.css">
  <link rel="stylesheet" type="text/css" href="/public/styles/helpers.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body class="has-navbar-fixed-top">

  <nav class="navbar is-fixed-top is-warning" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <span class="icon is-small">
          <i class="fas fa-stream"></i>
        </span>
        <div class="has-padding-left-2 is-size-5 has-text-weight-bold">TODO Enterprise</div>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item is-tab" href="/about">About</a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="/login">Log in</a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">
      <h1 class="title">Забыли о чем-то?</h1>
      <div>
        В последнее время темп жизни настолько увеличился, что удержать все в
        голове практически невозможно. Помните то гнетущее чувство, когда вы забыли о чем-то важном?
        Забудьте! Перед вами детище, которое создавалось со времен динозавров! Они записывали, что им нужно
        сделать, до того как замёрзнуть. Не будем же отставать от братьев наших меньш... Кхм, кхм. Пользуйтесь короче!
        Перед вами TODO Enterprise.
      </div>


    </div>

    <div class="container has-margin-top-4">
      <div>Directed by: Defake</div>
      <div>Apprentice: GeneralShtorks</div>
      <div>Apprentice: Kimpo</div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="is-size-1 title">List</h1>
      <div class="tabs">
        <ul>
          <li class="is-active"><a>by priority</a></li>
          <li><a>by alphabet</a></li>
        </ul>
      </div>

      <div class="tasknew box has-margin-top-4 has-margin-bottom-4">
        <div class="columns is-vcentered is-gapless is-marginless">
          <div class="checkmark column is-narrow" style="margin-left: 0.75rem; padding-right: 0.6rem !important;">
            <div class="icon is-small has-text-success is-flex">
              <i class="fas fa-check"></i>
            </div>
          </div>
          <div class="column">
            <input class="input is-borderless is-shadowless is-marginless is-paddingless"
              style="margin-right: 10px; padding-right: 0;" type="text" placeholder="Task name 1">
          </div>
          <div class="column is-narrow" style="width: 20px;">

          </div>
        </div>
      </div>

      <div class="tasknew box has-margin-top-4 has-margin-bottom-4">
        <div class="columns is-vcentered is-gapless is-marginless">
          <div class="column is-narrow" style="margin-left: 0.75rem;">
            <button class="button button-checkmark is-round" style="width: 25px; height: 25px; padding:0;">
              <span class="icon is-small is-flex">
                <i class="fas fa-check"></i>
              </span>
            </button>
          </div>
          <div class="column">
            <input class="input is-borderless is-shadowless is-marginless" style="margin-right: 10px; padding-right: 0;"
              type="text" placeholder="Task name 2">
          </div>
          <div class="column is-narrow" style="width: 20px;">

          </div>
        </div>
      </div>

      <div class="tasknew columns is-vcentered is-marginless is-gapless has-margin-top-4 has-margin-bottom-4">
        <div class="column is-narrow has-margin-right-3">
          <button class="button button-checkmark is-round" style="width: 25px; height: 25px; padding:0;">
            <span class="icon is-small is-flex">
              <i class="fas fa-check"></i>
            </span>
          </button>
        </div>

        <div class="column">
          <div class="tasknew box">
            <input class="input is-borderless is-shadowless is-marginless"
              style="margin-right: 10px; padding-right: 0;" type="text" placeholder="Task name 3">
          </div>
        </div>
      </div>

      <div class="tasknew columns is-vcentered is-marginless is-gapless has-margin-top-4 has-margin-bottom-4">
        <div class="column is-narrow has-margin-left-3 has-margin-right-3">
          <div class="checkmark">
            <div class="icon is-small has-text-success is-flex">
              <i class="fas fa-check"></i>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="tasknew box">
            <input class="input is-borderless is-shadowless is-marginless"
              style="margin-right: 10px; padding-right: 0;" type="text" placeholder="Task name 4">
          </div>
        </div>
      </div>

      <div class="tasknew columns is-vcentered is-marginless is-gapless has-margin-top-4 has-margin-bottom-4">
        <div class="column is-narrow has-margin-left-3 has-margin-right-3">
          <div class="checkmark">
            <div class="icon is-small has-text-success is-flex">
              <i class="fas fa-check"></i>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="tasknew box is-paddingless is-rounded">
            <input class="input is-rounded is-borderless is-shadowless is-marginless"
              style="margin-right: 10px; padding-right: 0;" type="text" placeholder="Task name 5">
          </div>
        </div>
      </div>

      <div class="tasknew columns is-vcentered is-marginless is-gapless has-margin-top-4 has-margin-bottom-4">
        <div class="column is-narrow has-margin-right-3">
          <button class="button button-checkmark is-round" style="width: 25px; height: 25px; padding:0;">
            <span class="icon is-small is-flex">
              <i class="fas fa-check"></i>
            </span>
          </button>
        </div>

        <div class="column">
          <div class="tasknew box is-paddingless is-rounded">
            <input class="input is-rounded is-borderless is-shadowless is-marginless"
              style="margin-right: 10px; padding-right: 0;" type="text" placeholder="Task name 6">
          </div>
        </div>
      </div>

      <div class="box is-paddingless is-rounded has-margin-top-4 has-margin-bottom-4">
        <div class="columns is-vcentered is-gapless is-marginless">
          <div class="column is-narrow" style="margin-left: 0.75rem;">
            <button class="button is-round button-checkmark" style="width: 25px; height: 25px; padding:0;">
              <span class="icon is-small is-flex">
                <i class="fas fa-check"></i>
              </span>
            </button>
          </div>
          <div class="column">
            <input class="input is-borderless is-shadowless is-marginless" style="margin-right: 10px; padding-right: 0;"
              type="text" placeholder="Task name 7">
          </div>
          <div class="column is-narrow" style="width: 20px;">

          </div>
        </div>
      </div>

      <div class="tasknew box is-paddingless is-rounded has-margin-top-4 has-margin-bottom-4">
        <div class="columns is-vcentered is-gapless is-marginless ">
          <div class="checkmark column is-narrow" style="margin-left: 0.75rem; padding-right: 0.6rem !important;">
            <div class="icon is-small has-text-success is-flex">
              <i class="fas fa-check"></i>
            </div>
          </div>
          <div class="column">
            <input class="input is-borderless is-shadowless is-marginless is-paddingless"
              style="margin-right: 10px; padding-right: 0;" type="text" placeholder="Task name 8">
          </div>
          <div class="column is-narrow" style="width: 20px;">

          </div>
        </div>
      </div>

      


      <article class="media box has-margin-top-5">
        <figure class="media-left">
          <p class="image is-64x64">
            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Вася Пупкин</strong> <small>@vasokpusok</small> <small>31m</small>
              <br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
              vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-reply"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-retweet"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-heart"></i></span>
              </a>
            </div>
          </nav>
        </div>
        <div class="media-right">
          <button class="delete"></button>
        </div>
      </article>

    </div>
  </section>

</body>

<script type="text/javascript" src="/public/scripts/scripts.js"></script>

</html>
