<!DOCTYPE html>
<html>

<head>
  <title>TODO Enterprise</title>
  <link rel="stylesheet" type="text/css" href="/public/styles/styles.css">
</head>

<body>
  <h2>Hello <%= name %>!</h2>
</body>

</html>
