<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head', {
    currentPage: currentPage,
  }); %>
</head>

<body class="has-navbar-fixed-top">
  
  <%- include('partials/header', {
    currentPage: currentPage,
  }); %>
 
  <section class="section">
    <div class="container is-tablet is-narrow">
      <div class="taskInputField">
        <form id="taskInputForm" action="/add-task" method="post">
          <p><input name="task" size="67x" type="text"></p>
          <p><button type="submit">Add new task</button></p>
        </form>
      </div>
    </div>
  
    <div class="container is-tablet is-narrow">
      <% tasks.forEach(function(task) { %>
        <% if (task.isDone == true) { %>
          <div class="done">
        <% } else { %>
          <div class="task">
        <% } %>
          <div class="finish-button">
            <div class="check"></div>
          </div>        
            <%= task.name %>          
          </div>
      <% }); %>
    </div>
  </section>

  <%- include('partials/footer'); %>

</body>

</html>
