<!DOCTYPE html>
<html>

<head>
  <title>TODO Enterprise</title>
  <link rel="stylesheet" type="text/css" href="/public/styles/styles.css">
</head>

<body>
  <div class="header">
    <div class="title"><a href="/">TODO Enterprise</a></div>
  </div>

  <div class="container">
    <% tasks.forEach(function(task) { %>
      <div class="task">
        <div class="finish-button"></div>
        <%= task %>
      </div>
    <% }); %>
  </div>
</body>

<script type="text/javascript" src="/public/scripts/scripts.js"></script>

</html>
