<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head', {
    currentPage: currentPage,
  }); %>
</head>

<body class="has-navbar-fixed-top">

  <%- include('partials/header', {
    currentPage: currentPage,
  }); %>

  <section class="section">
    <div class="container is-mobile is-narrow">
      <form action="/auth/login" method="POST" class="login-form">
        <h2 class="title">Login</h2>
        <div class="field">
          <label>Email address</label>
          <div class="control">
            <input type="email" class="input" id="loginEmail" placeholder="Enter email">
          </div>
          <p class="help has-text-grey">We'll never share your email with anyone else.</p>
        </div>

        <div class="field">
          <label>Password</label>
          <div class="control">
            <input type="password" class="input" id="loginPassword" placeholder="Password">
          </div>
        </div>
        <div class="control">
          <button class="button" type="submit">Log in</button>
        </div>

      </form>
    </div>
  </section>

  <%- include('partials/footer'); %>

</body>

</html>
