<!DOCTYPE html>
<html>

<head>
  <title>TODO Enterprise</title>
  <link rel="stylesheet" type="text/css" href="/public/styles/styles.css">
</head>

<body>
  <div class="header">
    <div class="title"><a href="/">TODO Enterprise</a></div>

    <div class="menu">
      <div><a href="login">Login</a></div>
      <div><a href="about">About</a></div>
    </div>
  </div>

  <div class="container">
    <form action="/auth/login" method="POST" class="login-form" >
      <h2>Login</h2>
      <div class="form-group">
        <label for="InputEmail" >Email address</label>
        <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <div class="form-group">
        <label for="InputPassword">Password</label>
        <input type="password" class="form-control" id="InputPassword" placeholder="Password">
      </div>
      <p><button class="btn" type="submit" name="submit">Log in</button></p>
    </form>
  </div>

</body>

<script type="text/javascript" src="/public/scripts/scripts.js"></script>

</html>