.box.tasknew {
  padding: 0.5rem 0;
}

.tasknew .checkmark {
  cursor: pointer;
}

.tasknew .checkmark * {
  color: transparent;
}

.tasknew:hover .checkmark * {
  color: #ccc;
}

.tasknew:hover .checkmark:hover * {
  color: #0c0;
}

.button-checkmark .icon {
  color: transparent;
}

.button-checkmark:hover .icon {
  color: #0c0;
}
