html, body {
  background-color: #f7f7f7;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

div.task {
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 1px 3px #777;
  padding: 10px 10px 9px;
  margin-top: 10px;
  vertical-align: middle;
}

div.task div.finish-button {
  border: 1px solid #222;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  margin: 2px 5px 5px;
  background-color: #f7f7f7;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

div.taskInputField {
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 1px 3px #777;
  padding: 10px 10px 9px;
  margin-top: 10px;
  vertical-align: middle;
}

div.task div.finish-button:hover div.check,
div.task div.finish-button.finished div.check {
  margin-top: 3px;
  margin-left: 5px;
  transform: rotate(45deg);
  height: 8px;
  width: 6px;
  border-bottom: 1px solid #394;
  border-right: 1px solid #394;
}

div.done {
  text-decoration: line-through;
  background-color: #cccccc;
  width: 100%;
  box-shadow: 0px 1px 3px #777;
  padding: 10px 10px 9px;
  margin-top: 10px;
  vertical-align: middle;
}

.login-form {
  margin: 0 auto;
  width: 350px;
}

.login-form label {
  display: inline-block;
  padding-bottom: 0.25rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {

  display: block;
  width: 90%;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7b8a8b;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.text-muted {
  color: #95a5a6 !important;
}

.form-text {
  display: block;
  margin-top: 0.25rem;
}

input {
  margin: 0;
  font-family: inherit;
}

.btn {
  cursor: pointer;
  display: block;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7b8a8b;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}